html {
  font-family: 'ABeeZee', Helvetica;
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("../pictures/web2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  width: 960px;
}
.top {
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 3rem;
  background-color: cadetblue;
  margin-top: 1rem;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo1 img {
  display: flex;
  height: 2.75rem;
  width: auto;
  margin-left: 3rem;
  margin-right: 1rem;
}
.logo2 {
  display: flex;
  color: white;
  font-size: 1rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
nav a {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 1rem;
}
.word {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: white;
  margin-top: 21rem;
  align-self: flex-start;
  margin-left: 2rem;
  opacity: 0.65;
}
.word h1 {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.2;
}
.content1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 960px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 8rem;
  margin: 3rem;
}
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.pic img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
}
.underpic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;

}
.underpic p {
  display: flex;
  padding: 0.25rem;
  text-align: center;
}
.underpic strong {
  color: #1C2833;
}
.text {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5rem;
}
.text1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 10%;
}
strong {
  font-weight: bold;
}
.big {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.big strong{
  color: #1C2833;
  font-size: 1rem;

}
.small {
  display: flex;
  flex-direction: column;
  font-family: 'ABeeZee', Helvetica;
}
.small p{
  line-height: 1.5;
  font-family: 'ABeeZee', Helvetica;
  color: grey;
}
.small img{
  width: 100%;
  margin-top: 0.5rem;
}
.small strong{
    color: #1C2833;
    font-weight: normal;
    line-height: 1.5;
}
footer {
  display: flex;
  align-items: center;
  background-color: azure;
  height: 9rem;
  width: 960px;
}
.last {
  display: flex;
}
.logolast {
  display: flex;
}
.logolast img {
  display: flex;
  padding-left: 4rem;
  padding-right: 1rem;
  height: 2.75em;
}
.textlast {
  display: flex;
  align-self: center;
}
.navhide {
  display: none;
}
.thesis {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: auto;
}
.thesis_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: cadetblue;
  font-size: 1.2rem;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.thesis_head {
  display: flex;
  flex-direction: column;
}
.thesis_left {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.thesis_video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}
.thesis_video video {
  height: 100%;
  width: 100%;
}
.thesis_video_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 8px;
  margin-left: 10px;
}
.thesis_video_text h4 {
  font-size: 25px;
  font-weight: bold;
  color: gray;
}
.thesis_video_text h5 {
  font-size: 18px;
  color: dimgray;
  line-height: 1.5;
  margin-top: 8px;
}
.thesis_right {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.thesis_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  margin: 1rem;
}
.thesis_pic {
  display: flex;
  width: 100%;
  height: 16rem;
}
.thesis_pic img {
  display: flex;
  width: 100%;
  height: auto;
}
.thesis_pic_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
}
.thesis_pic_text h3 {
  font-size: 25px;
  font-weight: bold;
  color: darkgray;
}
.thesis_pic_text h5 {
  font-size: 18px;
  color: dimgray;
  line-height: 1.5;
  margin-top: 8px;
}
@media only screen and (max-width: 1024px) {
  .top {
    width: 100%;
    margin-top: 0rem;
  }
  .container {
    height: 22rem;
    width: 100%;
  }
  .word {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: white;
    margin-top: 5rem;
    align-self: flex-end;
    margin-right: 2rem;
  }
  .word h1 {
    font-size: 1.33rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("../pictures/web2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 17rem;
    width: 100%;
  }
  .top {
    width: 100%;
    height: 3rem;
    justify-content:space-around;
    align-items: center;
  }
  .word {
    display: flex;
    background-color: white;
    margin-top: 9rem;
    width: 100%;
    height: 3rem;
    margin-right: 0%;
    padding: 0%;
  }
  .word h1 {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    padding: 0%;
    width: 100%;
    margin: 0%;
}
  .content1 {
    flex-wrap: wrap;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    width: 100%;
  }
  .box {
    width: 85%;
    height: auto;
    margin: 0.77rem;
  }
  .text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .text1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }
  .big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    background-color: cadetblue;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-left: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .small {
    display: flex;
    padding-bottom: 4rem;
    font-family:'ABeeZe', Helvetica;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
}
.small p{
  line-height: 1.5;
  font-family: 'ABeeZee', Helvetica;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
 .textlast {
   display: none;
 }
 .logolast img {
   align-self: center;
 }
 .logolast img {
   display: flex;
   padding-left: 0rem;
   padding-right: 0rem;
   height: 2.75rem;
}

nav {
  display: display;
}
nav a {
  font-size: 0.75rem;
}
.logo {
  display: none;
}
.thesis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.thesis_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.thesis_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thesis_left {
  display: flex;
  flex-direction: column;
}
.thesis_video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.25rem;
}
.thesis_video video{
  display: flex;
  width: 100%;
  height: 100%;
}
.thesis_video_text {
  display: flex;
  width: 100%;
  height: 100%;
}
.thesis_right {
  display: flex;
  width: 100%;
}
.thesis_box {
  display: flex;
  width: 100%;
  height: auto;
}
.thesis_pic {
  display: flex;
  width: 100%;
  height: 100%;
}
.thesis_pic img {
  display: flex;
  width: 100%;
  height: 85%;
}
